*.pyc
*.egg
*.so
*.swp

docs/build

docs/source/whitepaper/dPoW-Whitepaper
docs/source/whitepaper/barterDEX-Whitepaper-v2
docs/source/whitepaper/JUMBLR-Whitepaper
docs/source/whitepaper/dICO-Whitepaper

